@import '../../variables.scss';

.tickets {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    gap: 12px;
}

.button {
    height: 50px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: $secondary-text-color;
    text-transform: uppercase;
    background-color: $button-bg-color;
    border-radius: $border-radius;
}