@import '../../variables';

.ticketsFilter {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 50px;
}

.filter {
    background-color: $element-bg-color;
    text-transform: uppercase;
    border: 1px solid $filter-border-color;
    box-sizing: border-box;
    height: 100%;
    width: 168px;
}

.filter.selected {
    border: none;
    background-color: $secondary-bg-color;
    border: 1px solid $secondary-bg-color;
    color: $secondary-text-color;
}

.ticketsFilter li:first-child .filter {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

.ticketsFilter li:last-child .filter {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}