$main-bg-color: #F3F7FA;
$element-bg-color: white;
$secondary-bg-color: #2196F3;
$button-bg-color: #2196F3;
$hover-bg-color: #F1FCFF;

$unchecked-checkbox-color: #9ABBCE;
$checked-checkbox-color: #2196F3;

$text-color: #4A4A4A;
$secondary-text-color: white;
$contrast-text-color: #2196F3;
$sub-text-color: #A0B0B9;

$filter-border-color: #DFE5EC;

$shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.1);

$border-radius: 5px;